@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --primary: #ecf0f3;
  --inset: #ffff;
  --shodow: rgba(0,0,0,.16);
  --font: rgba(75, 75, 75);
}

body {
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 20rem;
  width: 55rem;

  background-color: var(--primary);
  border-radius: 3rem;
  box-shadow: inset 0.5rem 0.5rem 1.2rem var(--inset), 0.5rem 0.5rem 1.2rem var(--shodow);
}

.relogio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 17rem;
  width: 15rem;

  box-shadow: inset -0.5rem -0.5rem 1.2rem var(--inset), inset 0.5rem 0.5rem 1.2rem var(--shodow);
  border-radius: 2rem;

  color: var(--font);
}

.relogio span {
  font-weight: bolder;
  font-size: 6rem;
}

.relogio span.tempo {
  font-size: 1.6rem;
}